[submodule "3rdparty/mobiinfer"]
	path = 3rdparty/mobiinfer
	url = https://github.com/yydhYYDH/mobiinfer
	branch = stable
[submodule "3rdparty/llama.cpp"]
	path = 3rdparty/llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
	shallow = true
[submodule "clawmate-harmonyAPP"]
	path = clawmate-harmonyAPP
	url = https://github.com/doulujiyao12/mobiinfra-oh.git
	branch = clawmate_dev
	
